@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;700&family=Manrope:wght@800&display=swap');

* {
    font-family: 'Comic Neue', cursive;
    font-family: 'Manrope', sans-serif;
    font-size: 28px;
}

body {

    margin: 0;
    background: hsl(217, 19%, 24%);
}

.top-div {
    color: hsl(193, 38%, 86%);
    max-width: 35%;
    min-width: 250px;
    margin: 0 auto;
    text-align: center;
    padding: 2em;
}

.patternImage-mobile {
    display: none;
}

.patternImage {
    display: block;
    width: 100%;
}

h1 {
    color: hsl(150, 100%, 66%);
    font-size: 0.5em;
}

p {
    padding: 0.5em;
}

.text-div {
    background: hsl(219, 17%, 29%);
    padding: 2em;
    border-radius: 1em;
}

.img-div {
    display: flex;
    position: relative;
    top: -25px;
    width: 60px;
    height: 60px;
    background-color: hsl(150, 100%, 66%);
    border-radius: 50%;
    left: calc(50% - 30px);
    justify-content: center;
    align-items: center;
}

.diceImage {
    height: 23px;
    cursor: pointer;
}

.img-div:hover {
    box-shadow: 0px 0px 15px 5px hsl(145, 100%, 50%);
}

@media only screen and (max-width: 800px) {

    *{
        font-size: 16px;
    }

    .patternImage {
        display: none;
    }

    .patternImage-mobile {
        display: block;
        width: 100%;
        padding-bottom: 1em;
    }

    .img-div:hover {
        box-shadow: 0px 0px 15px 5px hsla(0, 100%, 100%, 0);
    }

    .img-div {
        display: flex;
        position: relative;
        top: -25px;
        width: 40px;
        height: 40px;
        background-color: hsl(150, 100%, 66%);
        border-radius: 50%;
        left: calc(50% - 20px);
        justify-content: center;
        align-items: center;
    }

    .diceImage {
        height: 16px;
        cursor: pointer;
    }
}